*{
    box-sizing: border-box;
}
.bg-box{
width: 1350px;
height: 2220px;
padding: 15px 10px 20px 10px ;
margin-bottom: 30px;
border-width:2px;
background-color: darkgreen;
box-sizing: border-box;
margin-top: 0;
background-image: url(​https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg);
background-size: contain;
background-repeat: no-repeat;
}
/* ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}
h2{
    margin: 0;
}
.list{
    display: flex;
    justify-content: space-between;
}
.item::before{
content: "123";
width: 100%;
height:200px ;
background-color: aqua;
display: block;
margin-bottom: 100px;
background-image: url(https://www.interfax.ru/ftproot/photos/photostory/2022/04/29/week/week7_1100.jpg), url(https://next-images.123rf.com/index/_next/image/?url=https://assets-cdn.123rf.com/index/static/assets/top-section-bg.jpeg&w=3840&q=75);
background-size: contain;
background-repeat: no-repeat;
background-position: top, bottom;
opacity: 0;
}
.item:hover::before{
opacity: 1;
} */