  *{
    box-sizing: border-box;
}
div{
   
}

.bg-box{
    width: 88%;
    height: 600px;
   padding-left: 40px;
    background-color: darkgreen;
    background-image: url(../img/hom.webp), url(../img/lemp.png) ,url(../img/eshsk.webp) , url(../img/ponchik-removebg-preview.png) ,url(../img/travka.png);
    background-repeat: no-repeat, repeat-x,repeat-y , repeat-y,repeat-x;
background-position:  center, top ,left, right, bottom;
background-size: auto,35px  35px,35px  35px ,35px  35px ,200px 200px;
}
 